html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    position: relative;
    line-height: 1.33em;
}

td, tr, thead, tbody, table, th {
    margin: 0px;
    padding: 0px;
}

a, a:visited {
    color: #0A246A;
}

input[type="text"], input[type="password"] {
    border: 1px solid #0066A4;
    padding: 2px;
    outline: none;
}

input[type="file"].error {
    color: red;
}

label {
    cursor: pointer;
}

label.error {
    color: red;
}

fieldset {
    border: 1px solid #0066a4;
    margin: 0;
    padding: 3px;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
    color: #0066a4;
}

#wrapper {
    width: 970px;
    padding: 15px;
    margin: 0 auto;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

#content {
    margin-top: 10px;
    padding: 5px;
}

#login-form {
    width: 450px;
    border: 2px solid #0066A4;
    padding: 10px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -230px;
}

#login-form label {
    display: inline-block;
    width: 70px;
}

#login-form .row {
    margin-top: 5px;
}

#login-form .row:first-child {
    margin-top: 0;
}

#login-form .err {
    font-size: .8em;
    color: #c00;
}

input[type="text"].error, input[type="password"].error {
    border: 1px solid #C00;
    background: #FBC2C4;
}

nav#top-menu {
    background: #0066a4;
}

nav#top-menu li {
    text-align: center;
    min-width: 140px;
}

nav#top-menu li.active > a:first-child {
    font-weight: bold;
    text-decoration: underline;
}

nav#top-menu a, nav#top-menu a:visited {
    color: #fff;
    text-decoration: none;
}

nav#top-menu ul, nav#top-menu li {
    margin: 0;
    padding: 0;
}

nav#top-menu ul.root > li {
    display: inline-block;
    position: relative;
    padding: 5px 3px;
    font-size: 1.2em;
    border-right: 1px solid #fff;
}

nav#top-menu ul.root > li:last-child {
    border: 0;
}

nav#top-menu ul ul.sub {
    display: block;
    position: absolute;
    left: 0px;
    top: 25px;
    background: #0066a4;
    padding: 5px 3px;
    display: none;
}

nav#top-menu ul ul.sub li {
    display: block;
}

table {
    width: 100%;
}

thead td {
    background: #0066a4;
    color: #fff;
    padding: 2px;
    font-weight: bold;
}

tbody td {
    padding: 1px 2px;
}

tbody tr.gray td {
    background-color: #c3d9ff;
}

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }

.t50 {
    display: inline-block;
    width: 50px;
}
.t75 {
    display: inline-block;
    width: 75px;
}
.t100 {
    display: inline-block;
    width: 100px;
}
.t125 {
    display: inline-block;
    width: 125px;
}
.t135 {
    display: inline-block;
    width: 135px;
}
.t150 {
    display: inline-block;
    width: 150px;
}
.t150 {
    display: inline-block;
    width: 200px;
}
.left {
    float: left;
    margin-right: 10px;
}
.right {
    float: right;
}
.text-right {
    text-align: right;
}

.both {
    clear:both;
    width:100%;
    height: 0px;
    padding: 0;
    margin: 0;
}

#edit-form label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

#edit-form .err {
    padding-left: 125px;
    font-size: .8em;
    color: #f00;
}

div.spacer30 {
    height: 30px;
    vertical-align: middle;
}

div.spacer30 b {
    position: relative;
    top: 10px;
}

#msg {
    text-align: center;
    color: #060;
}

#register-form {
    width: 410px;
    margin-left: -210px;
    position: fixed;
    top: 150px;
    left: 50%;
    background: #fff;
    padding: 10px;
    display: none;
    z-index: 101;
}

#register-form .err {
    font-size: .8em;
    color: #f00;
    padding-left: 130px;
}

#add_manufacturer_form {
    width: 462px;
    margin-left: -210px;
    position: fixed;
    top: 150px;
    left: 50%;
    background: #fff;
    padding: 10px;
    display: none;
    z-index: 101;
}

#add_manufacturer_form .err {
    font-size: .8em;
    color: #f00;
    padding-left: 130px;
}

tr.active, tr.active td {
    background-color: #76C376!important;
}

#add-price-dialog {
    position: fixed;
    top: 150px;
    width: 300px;
    left: 50%;
    padding: 10px;
    margin-left: -160px;
    background: #fff;
    display: none;
    z-index: 101;
}

#add-price-dialog .err {
    color: #f00;
    padding-left: 80px;
    font-size: .8em;
}

#upload-status {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -100px;
    margin-left: -135px;
    font-weight: bold;
    display: none;
    z-index: 101;
}

#upload-status img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#err-flash {
    position: fixed;
    text-align: center;
    width: 300px;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #c00;
    display: none;
}

.form-fs {
    display: inline-block;
    height: 23px;
    padding: 3px 10px;
    margin-right: 10px;
}

.pager {
    display: block;
    padding: 0;
    margin: 0;
}

.pager li {
    display: inline-block;
}

.pager a {
    width: 28px;
    text-align: center;
    padding: 1px 0;
    display: inline-block;
    text-decoration: none;
    background: #c3d9ff;
    color: #000;
    border: #0066a4 solid 1px;
}

.pager li.active a{
    background: #0066a4;
    color: #fff;
}

.pager li.disabled {
    opacity: .6;
}

#product_grid {
    padding: 15px 0;
    position: absolute!important;
    left: 0px!important;
}